<div class="nav-bar pt-5">
    <header>
        <div class="logo pb-4 px-3">
            <img src="../../../../../assets/ardriver-logo4.svg" alt="">
        </div>
        <nav>
            <ul>
                <li routerLinkActive="active">
                    <img class="px-3" src="../../../../../assets/icons/dashboard-icon.svg" alt="">
                    <!-- <object data="../../../../../assets/icons/dashboard-icon.svg" type=""></object> -->
                    <a class="py-2" routerLink="/admin/home/dashboard" routerLinkActive="active">Dashboard</a>
                </li>
                <li routerLinkActive="active">
                    <img class="px-3" src="../../../../../assets/icons/trips-outline-icon.svg" alt="">
                    <a class="py-2" routerLink="/admin/home/trips" routerLinkActive="active">Trips</a>
                </li>
                <li routerLinkActive="active">
                    <img class="px-3" src="../../../../../assets/icons/drivers-icon.svg" alt="">
                    <a class="py-2" routerLink="/admin/home/drivers" routerLinkActive="active">Drivers</a>
                </li>
                <li routerLinkActive="active">
                    <img class="px-3" src="../../../../../assets/icons/riders-icon.svg" alt="">
                    <a class="py-2" routerLink="/admin/home/riders" routerLinkActive="active">Riders</a>
                </li>
                <li routerLinkActive="active">
                    <!-- <a class="py-2" >Reports</a> -->
                </li>
            </ul>
        </nav>
    </header>
</div>
