<div class="container pt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 heading d-flex justify-content-center">
            <h6 style="font-size: 30px;">My trips</h6>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="d-flex" *ngFor="let ride of rides">

                    <div class="row trips m-4 p-4">
                        <div class="cab-type d-flex justify-content-between pt-2 pb-2">
                            <div>
                                <p>{{ride.car.carType}}</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img src="../../../../../assets/icons/date.svg" class="me-2" alt="">
                                <p>{{ride.date}}</p>
                            </div>
                        </div>
                        <div class="location d-flex">
                            <img src="../../../../../assets/icons/pickup-location.svg" alt="">
                            <p>{{ride.sourceLocation}}</p>
                        </div>
                        <div class="location d-flex">
                            <img src="../../../../../assets/icons/dropoff-location.svg" alt="">
                            <p>{{ride.destLocation}}</p>
                        </div>
                        <div class="dist-price d-flex justify-content-between pt-3 pb-1">
                            <div class="dist d-flex ">
                                <img src="../../../../../assets/icons/distance.svg" alt="">
                                <p class="ps-2">{{ride.traveledDistance}}&nbsp;</p>
                                <p>KM</p>
                            </div>
                            <div class="price">
                                <p><span class="material-symbols-rounded">
                                        currency_rupee
                                    </span>{{ride.fare}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="mt-4 trip-btns">
                        <div class="mt-1">
                            <span class="material-symbols-rounded mb-2 p-2">
                                download
                            </span>
                        </div>
                        <div>
                            <span class="material-symbols-rounded mb-2 p-2">
                                mail
                            </span>
                        </div>
                    </div> -->

                </div>

            </div>
        </div>
    </div>
    <!-- <div class="grid">
        <div class="rides">
            <div class="ride-detail" *ngFor="let ride of rides">
                <p>Source Location : {{ride.sourceLocation}}</p>
                <p>Destination Location : {{ride.destLocation}}</p>
            </div>
        </div>
    </div> -->
</div>
