<!-- <div class="container d-flex justify-content-center mt-5 pt-4">
    <div class="row profile-box p-5">
        <div class="hero-bg d-flex justify-content-center">
            <img src="../../../../../assets/male-avatar.svg" alt="">
        </div>
        <div class="update-form d-flex justify-content-center pt-5">
            <form>
                <div class="mb-3 input-box">

                    <label>Name</label>
                    <input class="form-control py-2 mt-1" type="text" id="name" name="name"
                        [(ngModel)]="customer.customerName" required="true" placeholder="Enter full name">

                </div>
                <div class="mb-3 input-box">
                    <label for="">Email</label>
                    <input class="form-control py-2 mt-1" type="email" name="email" [(ngModel)]="customer.email"
                        required="true" placeholder="Enter your email">
                </div>
                <div class="mb-3 input-box">
                    <label for="">Mobile No</label>
                    <input class="form-control py-2 mt-1" type="number" name="mobileNo" [(ngModel)]="customer.mobileNo"
                        required="true" placeholder="Enter Mobile No">
                </div>

                <div class="mb-3 pt-1">
                    <button type="submit" (click)="onSaveBtnClick()"
                        class="btn btn-primary ps-5 pe-5 col-md-12">Save</button>
                </div>
            </form>
        </div>
    </div>
</div> -->

<!-- <div class="mb-3">
                    <input type="password" class="" id="password" name="password" [(ngModel)]="customer.password"
                        required="true" placeholder="Create password">
                </div> -->

<div class="container py-5 d-flex justify-content-center">
    <div id="content" class="col-md-8">
        <div id="main-content">
            <mat-tab-group class="tab " mat-align-tabs="start">
                <mat-tab label="Edit profile">
                    <div class="tab-body profile ps-5 ms-4 pe-5 pt-2">
                        <h3>{{customer.customerName}} <label>/</label> Profile</h3>
                        <div class="profile-img d-flex align-items-center pt-4">
                            <div class="hero-bg d-flex justify-content-center">
                                <img src="../../../../../assets/male-avatar.svg" alt="" height="60%">

                            </div>
                            <div class="ms-4">
                                <button class="btn btn-outline-secondary upload-btn">Upload new image</button>
                                <button class="btn btn-outline-danger ms-2 img-delete-btn">Delete</button>
                            </div>
                        </div>

                        <div class="mt-5 update-form">
                            <div class="mb-4">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <p>Name</p>
                                </label>
                                <input type="text" class="form-control py-3 ps-4" id="exampleFormControlInput1"
                                    name="name" [(ngModel)]="customer.customerName" placeholder="Enter full name">
                            </div>
                            <div class="mb-4">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <p>Email</p>
                                </label>
                                <input type="email" class="form-control py-3 ps-4" id="exampleFormControlInput1"
                                    name="email" [(ngModel)]="customer.email" placeholder="Email">
                            </div>
                            <div class="mb-4">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <p>Mobile No</p>
                                </label>
                                <input type="number" class="form-control py-3 ps-4" id="exampleFormControlInput1"
                                    name="mobileNo" [(ngModel)]="customer.mobileNo" placeholder="Enter full name">
                            </div>
                            <div class="mb-4">
                                <div *ngIf="customerUpdateErrorMsg" class="error-msg">
                                    <label *ngFor="let error of responseErrors">{{error}}</label>
                                </div>
                            </div>
                            <div class="mb-4 mt-3 d-flex justify-content-end">
                                <button type="submit" (click)="onSaveBtnClick()"
                                    class="btn btn-primary py-2 col-md-12">Save Profile</button>
                            </div>
                        </div>

                    </div>
                </mat-tab>
                <mat-tab label="Password">
                    <div class="tab-body ps-5 ms-4">
                        <div class="pasword-tab pt-2">
                            <h3>{{customer.customerName}} <label>/</label> Password</h3>
                            <div class="password-form pt-4">
                                <form action="">
                                    <div class="mb-4">
                                        <label for="exampleFormControlInput1" class="form-label">
                                            <p>Old Pasword</p>
                                        </label>
                                        <input type="password" class="form-control py-3 ps-4"
                                            id="exampleFormControlInput1" name="email" [(ngModel)]="oldPassword"
                                            placeholder="Old Pasword" required="true" />
                                    </div>
                                    <div class="mb-4">
                                        <label for="exampleFormControlInput1" class="form-label">
                                            <p>New Pasword</p>
                                        </label>
                                        <input type="password" class="form-control py-3 ps-4"
                                            id="exampleFormControlInput1" name="email" [(ngModel)]="newPassword"
                                            placeholder="New Pasword" required="true" />
                                    </div>
                                    <div class="mb-4">
                                        <div *ngIf="passwordUpdateErrorMsg" class="error-msg">
                                            <label *ngFor="let error of responseErrors">{{error}}</label>
                                        </div>
                                    </div>
                                    <div class="mb-4 mt-3 d-flex justify-content-end">
                                        <button type="submit" (click)="onChangePasswordBtnClick()"
                                            class="btn btn-primary py-2  password-btn col-md-3">Change</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Delete account">
                    <div class="tab-body ps-5 ms-4">
                        <div class="delete-tab pt-2">
                            <h3>{{customer.customerName}} <label>/</label> Delete Account</h3>
                            <div class="delete-box my-5 p-5 col-md-8">
                                <div class="row">
                                    <img src="../../../../../assets/sad-emoji2.svg" alt="">
                                </div>
                                <div class="pt-4">
                                    <h1>We’re sorry to see you go</h1>
                                    <p
                                        style="color: #6e6d7a !important;font-weight: 400 !important;">
                                        Be advised, account deletion is final. There will be
                                        no way to restore your account.
                                    </p>
                                </div>
                                <div class="row delete-acc-btn d-flex justify-content-center pt-5">
                                    <button class="btn py-2 col-md-5 cancel-btn">Cancel</button>
                                    <button (click)="onDeleteBtnClick()" class="btn py-2 col-md-6 ms-2">Delete My Account</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
