<div class="container pt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="trips-card p-4">
                <div class="mb-2">
                    <p>Total Trips</p>
                </div>
                <div class="mb-3">
                    <h6>{{currentMonthTrips}}</h6>
                </div>
                <div class="mb-2">
                    <label class="me-2 p-1 px-3" [ngClass]="{
                        'positive-percent': tripsPercentage>0,
                        'negative-percent': tripsPercentage<0,
                    }">
                        {{tripsPercentage.toFixed(2)}}%
                    </label>
                    <label *ngIf="tripsPercentage<0">Lower than previous month</label>
                    <label *ngIf="tripsPercentage>0">Higher than previous month</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="trips-card p-4">
                <div class="mb-2">
                    <p>Total Profit</p>
                </div>
                <div class="mb-3">
                    <h6>
                        <span class="material-symbols-rounded">
                            currency_rupee
                        </span>
                        {{currentMonthProfit.toFixed(2)}}
                    </h6>
                </div>
                <div class="mb-2">
                    <label class="me-2 p-1 px-3" [ngClass]="{
                        'positive-percent': profitPercentage>0,
                        'negative-percent': profitPercentage<0,
                    }">{{profitPercentage.toFixed(2)}}% </label>
                    <label *ngIf="profitPercentage<0">Lower than previous month</label>
                    <label *ngIf="profitPercentage>0">Higher than previous month</label>
                </div>
            </div>
        </div>
    </div>


    <div class="tablebody mt-4 px-4 pb-4">
        <div class="row py-4 d-flex align-items-center top-bar">
            <!-- <div class="col-md-4 d-flex ">
                <input type="text" class="form-control" placeholder="Search...">
            </div> -->
            <div class="col-md-3 d-flex align-items-center">
                <label for="" class="col-md-3">Start Date </label>
                <input type="date" class="form-control" [(ngModel)]="startDate" name="startDate">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <label for="" class="col-md-3">End Date </label>
                <input type="date" class="form-control" [(ngModel)]="endDate" name="endDate">
            </div>
            <div class="col-md-1 d-flex">
                <button (click)="onSearchBtnClick()" class="btn search-btn">Search</button>
            </div>

            <div class="col-md-2 d-flex ">
                <button (click)="exportRidesData()" class="btn export-btn">
                    Export
                </button>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <th>
                        <div class="t-head">
                            <p>ID</p>
                            <div class="filter-btn">
                                <span (click)="onSortBtnClick('asc','rideId')"
                                    class="material-symbols-rounded">arrow_drop_up</span>
                                <span (click)="onSortBtnClick('desc','rideId')"
                                    class="material-symbols-rounded">arrow_drop_down</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="t-head">
                            <p>Rider</p>
                            <div class="filter-btn">
                                <span class="material-symbols-rounded">arrow_drop_up</span>
                                <span class="material-symbols-rounded">arrow_drop_down</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="t-head">
                            <p>Date</p>
                            <div class="filter-btn">
                                <span (click)="onSortBtnClick('asc','date')"
                                    class="material-symbols-rounded">arrow_drop_up</span>
                                <span (click)="onSortBtnClick('desc','date')"
                                    class="material-symbols-rounded">arrow_drop_down</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="t-head">
                            <p>Driver</p>
                            <div class="filter-btn">
                                <span class="material-symbols-rounded">arrow_drop_up</span>
                                <span class="material-symbols-rounded">arrow_drop_down</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="t-head">
                            <p>Vehicle Type</p>
                            <div class="filter-btn">
                                <span class="material-symbols-rounded">arrow_drop_up</span>
                                <span class="material-symbols-rounded">arrow_drop_down</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="t-head">
                            <p>Fare</p>
                            <div class="filter-btn">
                                <span (click)="onSortBtnClick('asc','fare')"
                                    class="material-symbols-rounded">arrow_drop_up</span>
                                <span (click)="onSortBtnClick('desc','fare')"
                                    class="material-symbols-rounded">arrow_drop_down</span>
                            </div>
                        </div>
                    </th>
                    <th colspan="2" class="">
                        <!-- <p>Action</p> -->
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let ride of rides" style="LINE-HEIGHT:50px">
                        <td>{{ride.rideId}}</td>
                        <td>{{ride.customer.customerName}}</td>
                        <td>{{ride.date}}</td>
                        <td>{{ride.car.driver.driverName}}</td>
                        <td>{{ride.car.carType}}</td>
                        <td class="d-flex align-items-center">
                            <span class="material-symbols-rounded">
                                currency_rupee
                            </span>
                            {{ride.fare}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row pt-3 page-btns d-flex justify-content-end" *ngIf="totalPage>1">
            <div class="col-md-12 d-flex justify-content-end">
                <div class="d-flex" *ngFor="let number of pageNoArray">
                    <a (click)="onPageNoClick(number-1)"
                        [ngClass]="{ selected: currentPageNo === number }">{{number}}</a>
                </div>

            </div>
        </div>

    </div>

</div>
